<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Birthday page generator</title>
</head>
<body>
  <h1>Birthday page generator</h1>
  <form action="/generate" method="POST">
    <label for="text">Who do you want to wish?</label>
    <input id="text" placeholder="Name" name="name"/>
    <button type="submit">Submit</button>
  </form>
</body>
</html>